body{
    margin: 0;
    color: aliceblue;
    background: linear-gradient(90deg, #153677, #4e085f);
    text-align: center;
    font-family: sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_class{
    border-right: 1px solid #ccc;
    background-color: aliceblue;
    height: 300px;
    width: 400px;
    margin: 10%;
    border-radius: 5%;
}

.desc{
    width: 300px;
    background-color: aliceblue;
    padding: 4%;
    margin: 30px 5px;
    border-color: #153677;
    border-radius: 10px;
}

.desc:hover{
    cursor: pointer;
    background-color: whitesmoke;
}

.select_and_input{
    display: flex;
    justify-content: space-around;
}

.option{
    color: #153677;
    background-color: aliceblue;
    border-color: #153677;
    border-radius: 10px;
    height: 35px;
    width: 150px;
    margin: 10px;
}

.option:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.datesValues{
    color: #153677;
    background-color: aliceblue;
    border-color: #153677;
    border-radius: 10px;
    height: 30px;
    width: 140px;
    margin: 10px;
}

.datesValues:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.buttonDesign{
    
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: #749be8;
    color: aliceblue;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
    margin: 20px;
}

.buttonDesign:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
}
.buttonDesign:focus-visible{
    outline-offset: 1px;
}

/******* TodoList viewing section style *******/


.todo-list-container{
    padding: 20px;
    margin: auto;
    font-family: sans-serif;
}

.contact-list-container ul{
    padding: 0;
    list-style: none;
}

.tasks {
    color: #6e92db;
    display: flex;
    width: 500px;
    margin: 5px 40px 5px 0px;
    padding: 3px 10px;
    border: 1px solid #000;
    background-color: aliceblue;
    box-shadow: 1px 1px 1px 1px #000;;
    transition: all 0.2s ease-in-out;
}

.tasks:hover{
    box-shadow: 0px 0px 2px 1px #749be8;
    transform: translateX(-10px);
}

.tasks .tasks-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
}
.tasks .delete-button{
    width: 10%;
    padding: 3px;
    text-align: center;
    margin-top: 12px;
}

.tasks .delete-button a{
    color: #153677;
}

.tasks .delete-button a:hover{
    color: rgb(249, 24, 24);
}

/* Add styles for the vertical line */
.vertical-line {
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 50%; /* Position it in the middle of the right section */
    border-left: 2px solid #ccc;
    content: '';
    height: 50%;
}

.success-message.hide {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
